.address-avg-price {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 10px;
}

.tags-style-bar {
  font-size: 0.5rem;
  border-radius: 3px;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid #7E73FF;
  margin: 0.4rem;
  padding-right: 14px;
  padding-left: 14px;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: left;
  width: fit-content;
  h6 {
  margin-bottom: 0;
  }
}

.bar-name {
  text-align: left;
  padding-left: 10px;
}

.promo-card-index {
  background-color: #ec407914;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 #ec407a;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 3px;
  width: 30%;
  height: auto;
  font-size: small;
  margin-right: 16px;
}

.bar-card-flex-promo {
  display: flex;
  justify-content: start;
  margin-left: 10px;
  margin-right: 20px;
}

.bar-card-flex-title {
  display: flex;
  position: relative;

}

.rating-position {
  width: auto;
}

.bar-card-img {
  width: 150px;
}

.address-avg-price {
  p{
    margin-top: 0;
    margin-bottom: 8px !important;
  }
}
