

.tags-style-bar {
  font-size: 0.5rem;
  border-radius: 3px;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid #7E73FF;
  margin: 0.4rem;
  padding-right: 14px;
  padding-left: 14px;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: left;
  width: fit-content;
  h6 {
  margin-bottom: 0;
  }
}

.bar-name {
  text-align: left;
  padding-left: 10px;
}

.promo-card-index {
  background-color: #ec407914;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 #ec407a;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 3px;
  width: 30%;
  height: auto;
  font-size: small;
  margin-right: 16px;
}

.bar-card-flex-promo {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-right: 20px;
}

.bar-card-flex-title {
  display: flex;
  justify-content: space-between;
}

.rating-position {
  width: auto;
  h3 {
    font-size: 20px;
    text-align: right;
  }
}

.bar-card-img {
  width: 150px;
}



.form-group label {
    font-size: 14px; /* Ajustez la taille de police selon vos besoins */
    padding-right: 10px; /* Ajustez l'espacement à droite du label selon vos besoins */
}

/* Styliser les tags */
.tag-selector label {
    font-size: 12px; /* Ajustez la taille de police des tags selon vos besoins */
}
