.home-page-container {
  background-image: url(https://res.cloudinary.com/dci4n2kgm/image/upload/v1693489178/Cocktail_Hour_pku1al.jpg);
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-box {
  position: relative;
  background-position: center;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 500px;
  height: 200px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.button-container {
  display: flex;
  gap: 6em;
  margin-bottom: 4em;
}
