<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert" style="background-color: #FEF0F5 !important">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" style="background-color: #FEF0F5 !important" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
