<<<<<<< HEAD
<h1>Bojee TEST COMPONENT</h1>

<div class="bar-card">
  <img src="https://nightlife.ca/wp-content/uploads/2018/08/allons-tous-chez-ta-mere-dans-le-mile-end-526659.jpg" class="bar-picture-card" alt="Les frérots">
  <p class="bar-style"><em>Italien</em></p>

</div>
=======
<h1>Pages#home</h1>
<p>On teste les components le zin' tia cru quoi eh</p>

<button class="button">BIEN VU LE COUZ</button>
>>>>>>> fa79ec6c15ec6d1b8c8bc58a251af45315035390
