
<h1>Bojee TEST COMPONENT</h1>

  <div class="bar-card">
    <img src="https://toitoimontoit.fr/wp-content/uploads/2020/02/barabulles-2.jpg" class="bar-card-img" alt="bar-pitcure">
      <div class="bar-details">
        <div class="bar-card-flex">
          <p class="bar-category"><em>Italien</em></p>
          <p class="tags">tags 1</p>
          <p class="tags">tags 2</p>
        </div>
        <div class="bar-card-flex">
          <h2 class="bar-name"><strong>Tripletta</strong></h2>
          <h2 class="rating">9/10</h2>
        </div>
        <p class="adress">Bordeaux</p>
        <p class="average-price">Prix moyen : 25€</p>
        <p class="promotion">DISCOUNT DU MOMENT</p>
      </div>
  </div>

<h1>Pages#home</h1>
<p>On teste les components</p>


<button class="button">BIEN VU LE COUZ</button>
<%= link_to "bar index client",  bars_path, class:"button" %>

<button class="button">Button</button>
<button class= "navbar_button">Login</button>

