<div class="page-container">
<div class="poster-box">
<div class="title-box"></div>
<div class="button-box">
</div>
</div>
</div>


<h1>Pages#home</h1>
<p>On teste les components</p>


<button class="button">BIEN VU LE COUZ</button>
<%= link_to "bar index client",  bars_path, class:"button" %>
<%= link_to "bar index Barman",  barman_bars_path, class:"button" %>

<button class="button">Button</button>
<button class= "navbar_button">Login</button>
