<div class="page-container">
  <div class="title-box">
    <div class="button-container">
      <%= link_to "Index Client",  bars_path, class:"button" %>
      <%= link_to "Index Barman",  barman_bars_path, class:"button" %>
    </div>
  </div>
</div>

