.bar-card {
  position: relative;
  display: flex;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 24px;
}

.bar-card img {
  height: auto;
  width: 40%;
  object-fit: cover;
}

.bar-card-flex {
  display: flex;
  justify-content: space-between;
}

.bar-details {
  margin: 0;
  font-size: 1rem;
  font: $body-font;
}

.bar-details h2 {
  margin: 0;
  font-size: 1.5rem;
  text-decoration: none;
}
