.bar-card {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.bar-card img {
  height: auto;
  width: 120px;
  object-fit: cover;
}

.bar-card-flex {
  display: flex;
  justify-content: space-between;
}

.bar-details {
  margin: 0;
  font-size: 1rem;
}

.bar-details h2 {
  margin: 0;
  font-size: 1.5rem;
  text-decoration: none;
}
