.page-container {
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulary-card {
  background-color: #ec407a;
  margin-top: 2em;
  border: solid ;
  border-color: black;
  padding: 20px;
  box-shadow: 12px 12px 2px 1px rgba(67, 145, 209, 1);
  width: 80%;
  margin-top: 10px ;

  h6{
    color: white
  }
}

.d-flex {
  justify-content: space-around;
}

.left-col {
  padding-right: 40px;
}

.custom-box-shadow, .mapboxgl-ctrl-geocoder input {
  box-shadow: 6px 6px 1px 0px rgba(67, 145, 209, 1);
}

h6 input {
  font-family: var(--bs-body-font-family);
}

.navbar_button {
  margin-top: 3em;
}
