.bar-card-show {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.bar-info {
  flex: 1; /* Permet au contenu de prendre toute la largeur disponible */
  padding-right: 20px; /* Espace entre le contenu et le bord droit */
}
