.bar-card {
  position: relative;
  display: flex;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.bar-card img {
  height: auto;
  width: 40%;
  object-fit: cover;
  border-radius: 3px;
}

.bar-card-flex {
  display: flex;
  justify-content: space-between;
}

.bar-details {
  margin: 0;
  font-size: 1rem;
  font: $body-font;
  width: 100%;
  padding-left: 5px;
  h2{
    font-size: 1.5rem;
  text-decoration: none;
  }
}

.tag-de-tag {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: left;
  max-width: 260px;
  padding-left: 5px;
  font-size: medium;
  margin-bottom: 7px;
}

.address-avg-price {
  p{
    margin-top: 0;
    margin-bottom: 5px !important;
  }
}

.address-avg-price {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.address{
  font-style: italic;
}
