.page-container {
  // background-image: url(https://img.artlogic.net/w_1600,h_1020,c_limit/exhibit-e/63936142fcaaf75aef06bd82/b9e266a02585309c37d0ca84f7db12b8.jpeg);
  background-position: center;
  background-image: url(https://res.cloudinary.com/dci4n2kgm/image/upload/v1693489178/Cocktail_Hour_pku1al.jpg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulary-card {
  background-color: #ec407a;
  margin-top: 2em;
  border: solid ;
  border-color: black;
  padding: 20px;
  box-shadow: 12px 12px 2px 1px rgba(67, 145, 209, 1);
  width: 80%;
  margin-top: 10px ;

  h6{
    color: white
  }
}

.d-flex {
  justify-content: space-around;
}

.left-col {
  padding-right: 40px;
}

.custom-box-shadow, .mapboxgl-ctrl-geocoder input {
  box-shadow: 6px 6px 1px 0px rgba(67, 145, 209, 1);
}

h6 input {
  font-family: var(--bs-body-font-family);
}

.navbar_button {
  margin-top: 3em;
  margin-left: 3em;
}
