.calendar-container {
  border: solid 2px black;
  box-shadow:  12px 12px 2px 1px rgba(67, 145, 209, 1);
  margin-bottom: 2em;
}

.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.calendar-heading {
  display: flex;
  padding-bottom: 12px;
  padding-top: 8px;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 1px black;
  background-color: #ec407a;

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    box-shadow: 0 0 #fff;
    transform: translateY(1px);
  }

  .calendar-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;

  }
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #ec407a;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: rgba(67, 145, 209, 1);
  color: white;
}
