.promo-card {
  background-color: #ec407914;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  width: 25%;
}
