
.search-form-control {
  margin: 20px auto;
  max-width: 600px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.717);
  border-radius: 3px;
}



.form-group {
  margin-bottom: 20px;
}

.search-input {
  border-radius: 3px;
}
