.my-tooltip{
  background-color: #ffffff;
  color: rgb(2, 2, 2);
  width: 300px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ec407a;
  //box-shadow: 3px 3px 1px #D1D4FF;
  text-align: center;
  top: 10px;
  left: -250px;
  text-shadow: white;
  z-index: 9999;
}
.my-tooltip-2{
  background-color: #ffffff;
  color: rgb(2, 2, 2);
  width: 300px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ec407a;
  //box-shadow: 3px 3px 1px #D1D4FF;
  text-align: center;
  top: 10px;
  left: -350px;
  text-shadow: white;
  z-index: 9999;
}

progress {
  width: 230px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid white;
  margin-top: 3px;
  margin-bottom: 3px;
}
progress::-webkit-progress-bar {
  background-color: #eaa4bc;
  border-radius: 3px 0px 0px 3px;
}
progress::-webkit-progress-value {
  background-color: #ec407a;

  border-radius: 0px 3px 3px 0px;
}
.info {
  top: 10px;
  right: 20px;

}

.info-button {
  position: absolute;
  top: 10px;
  right: 18px;

}

.titi {
  position: absolute;
  right: 108px;
  bottom: 15px;
}
